/*
 * Copyright (C) 2009-2012 TSUBAKIMOTO Hiroya <z0rac@users.sourceforge.jp>
 *
 * This software comes with ABSOLUTELY NO WARRANTY; for details of
 * the license terms, see the LICENSE.txt file included with the program.
 */
#include "define.h"
#include <winresrc.h>
#include <commctrl.h>

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_SETTING DIALOGEX 0, 0, 225, 285
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "Settings - befoo"
FONT 9, "Ms Shell Dlg"
BEGIN
    GROUPBOX        "Mailbox", IDC_STATIC, 7, 1, 211, 76, WS_GROUP
    LISTBOX         IDC_LIST_MAILBOX, 16, 15, 136, 55, WS_GROUP | WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    PUSHBUTTON      "&New", IDC_BUTTON_NEW, 158, 15, 50, 14, WS_GROUP
    PUSHBUTTON      "&Edit", IDC_BUTTON_EDIT, 158, 31, 50, 14
    PUSHBUTTON      "&Delete", IDC_BUTTON_DELETE, 158, 47, 50, 14
    GROUPBOX        "Icon", IDC_STATIC, 7, 82, 211, 48, WS_GROUP
    PUSHBUTTON      "", IDC_BUTTON_ICON, 15, 92, 36, 34, BS_ICON
    AUTOCHECKBOX    "Size:", IDC_CHECKBOX_ICON, 61, 94, 69, 12, WS_GROUP
    EDITTEXT        IDC_EDIT_ICON, 135, 94, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_ICON, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 94, 12, 12
    LTEXT           "pixels", IDC_STATIC, 179, 94, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Transparency:", IDC_STATIC, 61, 111, 69, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_ICONTRANS, 135, 111, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_ICONTRANS, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 111, 12, 12
    LTEXT           "percents", IDC_STATIC, 180, 111, 34, 12, SS_LEFT | SS_CENTERIMAGE
    GROUPBOX        "General", IDC_STATIC, 7, 134, 211, 125, WS_GROUP
    LTEXT           "Balloon display time:", IDC_STATIC, 16, 145, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_BALLOON, 135, 145, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_BALLOON, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 145, 12, 12
    LTEXT           "seconds", IDC_STATIC, 180, 145, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Subjects in the balloon:", IDC_STATIC, 16, 162, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUBJECTS, 135, 162, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUBJECTS, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 162, 12, 12
    LTEXT           "lines", IDC_STATIC, 180, 162, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Summary display time:", IDC_STATIC, 16, 179, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUMMARY, 135, 179, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUMMARY, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 179, 12, 12
    LTEXT           "seconds", IDC_STATIC, 180, 179, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "Show summary when get mail", IDC_CHECKBOX_SUMMARY, 38, 193, 114, 11
    LTEXT           "Summary transparency:", IDC_STATIC, 16, 209, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUMMARYTRANS, 135, 209, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUMMARYTRANS, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 209, 12, 12
    LTEXT           "percents", IDC_STATIC, 180, 209, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "First fetch time on startup:", IDC_STATIC, 16, 226, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_STARTUP, 135, 226, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_STARTUP, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 226, 12, 12
    LTEXT           "seconds", IDC_STATIC, 180, 226, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "Add to startup folder", IDC_CHECKBOX_STARTUP, 38, 240, 114, 11
    DEFPUSHBUTTON   "OK", IDOK, 113, 265, 50, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 265, 50, 14
END

IDD_MAILBOX DIALOGEX 65510, 15, 270, 170
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "Mailbox settings"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Name:", IDC_STATIC, 7, 7, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_NAME, 71, 7, 112, 12, ES_AUTOHSCROLL
    LTEXT           "Server:", IDC_STATIC, 7, 24, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SERVER, 71, 24, 176, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_SERVER, 249, 24, 14, 12
    LTEXT           "Password:", IDC_STATIC, 7, 41, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PASSWD, 71, 41, 112, 12, ES_AUTOHSCROLL | ES_PASSWORD
    LTEXT           "IP version:", IDC_STATIC, 7, 58, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_IP_VERSION, 71, 58, 55, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Verify certificate:", IDC_STATIC, 7, 75, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_VERIFY, 71, 75, 90, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Fetching period:", IDC_STATIC, 7, 92, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_FETCH, 71, 92, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_FETCH, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 97, 92, 13, 12
    LTEXT           "minutes", IDC_STATIC, 115, 92, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Received sound:", IDC_STATIC, 7, 109, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SOUND, 71, 109, 137, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_SOUND, 209, 109, 14, 12
    PUSHBUTTON      "&Play", IDC_BUTTON_PLAY, 225, 108, 38, 14
    LTEXT           "Mailer:", IDC_STATIC, 7, 126, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_MUA, 71, 126, 176, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_MUA, 249, 126, 14, 12
    DEFPUSHBUTTON   "OK", IDOK, 158, 150, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 213, 150, 50, 14
END

IDD_URI DIALOGEX 22, 7, 225, 130
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "Server settings"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Protocol:", IDC_STATIC, 7, 7, 50, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SCHEME, 59, 7, 53, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "User name:", IDC_STATIC, 7, 25, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_USER, 59, 25, 83, 12, ES_AUTOHSCROLL
    LTEXT           "Address:", IDC_STATIC, 7, 42, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_ADDRESS, 59, 42, 159, 12, ES_AUTOHSCROLL
    LTEXT           "Port number:", IDC_STATIC, 7, 59, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PORT, 59, 59, 53, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_PORT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 99, 59, 13, 12
    LTEXT           "Path:", IDC_STATIC, 7, 76, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PATH, 59, 76, 159, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Recent only", IDC_CHECKBOX_RECENT, 59, 90, 53, 12, BS_AUTOCHECKBOX
    DEFPUSHBUTTON   "OK", IDOK, 113, 109, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 109, 50, 14
END

IDD_ICON DIALOGEX 65530, 60, 232, 87
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "Icon settings"
FONT 8, "Ms Shell Dlg"
BEGIN
    LISTBOX         IDC_LIST_ICON, 7, 7, 218, 53, WS_GROUP | WS_TABSTOP | WS_HSCROLL | LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | LBS_OWNERDRAWFIXED | LBS_NODATA | LBS_NOTIFY, WS_EX_CLIENTEDGE
    DEFPUSHBUTTON   "OK", IDOK, 123, 67, 50, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 175, 67, 50, 14
END

STRINGTABLE
BEGIN
    IDS_FILTER_SOUND		"Sound (*.wav)/*.wav/"
    IDS_FILTER_PROGRAM		"Program (*.exe)/*.exe/"
    IDS_MSGBOX_DELETE		"Confirm Mailbox Delete/Are you sure you want to delete '%s'?/"
    IDS_MSG_ITEM_REQUIRED	"This item is required."
    IDS_MSG_INVALID_CHAR	"You cannot use this character here."
    IDS_MSG_NAME_EXISTS		"The specified name already exists. Please enter a different name."
    IDS_LIST_IP_VERSION		"Unspecified/IPv4/IPv6/"
    IDS_LIST_VERIFY		"Don't verify/Only server name/Allow self certification/Full verify/"
END

1 VERSIONINFO
FILEVERSION     DLL_VERSION_BINARY
PRODUCTVERSION  APP_VERSION_BINARY
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
FILEFLAGSMASK   0x0000003F
FILEFLAGS       0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", APP_NAME " extend module"
            VALUE "FileVersion", DLL_VERSION
            VALUE "InternalName", DLL_NAME
            VALUE "LegalCopyright", APP_COPYRIGHT
            VALUE "OriginalFilename", DLL_NAME ".dll"
            VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
