/*
 * Copyright (C) 2009-2012 TSUBAKIMOTO Hiroya <z0rac@users.sourceforge.jp>
 *
 * This software comes with ABSOLUTELY NO WARRANTY; for details of
 * the license terms, see the LICENSE.txt file included with the program.
 */
#include "define.h"
#include <winresrc.h>
#include <commctrl.h>

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

IDD_SETTING DIALOGEX 0, 0, 225, 285
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "設定 - befoo"
FONT 9, "Ms Shell Dlg"
BEGIN
    GROUPBOX        "メールボックス", IDC_STATIC, 7, 1, 211, 76, WS_GROUP
    LISTBOX         IDC_LIST_MAILBOX, 16, 15, 136, 55, WS_GROUP | WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    PUSHBUTTON      "新規(&N)", IDC_BUTTON_NEW, 158, 15, 50, 14, WS_GROUP
    PUSHBUTTON      "編集(&E)", IDC_BUTTON_EDIT, 158, 31, 50, 14
    PUSHBUTTON      "削除(&D)", IDC_BUTTON_DELETE, 158, 47, 50, 14
    GROUPBOX        "アイコン", IDC_STATIC, 7, 82, 211, 48, WS_GROUP
    PUSHBUTTON      "", IDC_BUTTON_ICON, 15, 92, 36, 34, BS_ICON
    AUTOCHECKBOX    "サイズ:", IDC_CHECKBOX_ICON, 61, 94, 69, 12, WS_GROUP
    EDITTEXT        IDC_EDIT_ICON, 135, 94, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_ICON, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 94, 12, 12
    LTEXT           "ピクセル", IDC_STATIC, 179, 94, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "透明率:", IDC_STATIC, 61, 111, 69, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_ICONTRANS, 135, 111, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_ICONTRANS, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 111, 12, 12
    LTEXT           "%", IDC_STATIC, 180, 111, 34, 12, SS_LEFT | SS_CENTERIMAGE
    GROUPBOX        "全般", IDC_STATIC, 7, 134, 211, 125, WS_GROUP
    LTEXT           "バルーン表示時間:", IDC_STATIC, 16, 145, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_BALLOON, 135, 145, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_BALLOON, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 145, 12, 12
    LTEXT           "秒", IDC_STATIC, 180, 145, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "バルーン表示件数:", IDC_STATIC, 16, 162, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUBJECTS, 135, 162, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUBJECTS, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 162, 12, 12
    LTEXT           "件", IDC_STATIC, 180, 162, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "一覧表示時間:", IDC_STATIC, 16, 179, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUMMARY, 135, 179, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUMMARY, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 179, 12, 12
    LTEXT           "秒", IDC_STATIC, 180, 179, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "着信時に一覧を表示", IDC_CHECKBOX_SUMMARY, 38, 193, 114, 11
    LTEXT           "一覧表示透明率:", IDC_STATIC, 16, 209, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUMMARYTRANS, 135, 209, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUMMARYTRANS, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 209, 12, 12
    LTEXT           "%", IDC_STATIC, 180, 209, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "起動時の初回確認:", IDC_STATIC, 16, 226, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_STARTUP, 135, 226, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_STARTUP, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 226, 12, 12
    LTEXT           "秒", IDC_STATIC, 180, 226, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "スタートアップに登録", IDC_CHECKBOX_STARTUP, 38, 240, 114, 11
    DEFPUSHBUTTON   "OK", IDOK, 113, 265, 50, 14, WS_GROUP
    PUSHBUTTON      "キャンセル", IDCANCEL, 168, 265, 50, 14
END

IDD_MAILBOX DIALOGEX 65510, 15, 270, 170
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "メールボックスの設定"
FONT 9, "Ms Shell Dlg"
BEGIN
    LTEXT           "名前:", IDC_STATIC, 7, 7, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_NAME, 71, 7, 112, 12, ES_AUTOHSCROLL
    LTEXT           "サーバー:", IDC_STATIC, 7, 24, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SERVER, 71, 24, 176, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_SERVER, 249, 24, 14, 12
    LTEXT           "パスワード:", IDC_STATIC, 7, 41, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PASSWD, 71, 41, 112, 12, ES_AUTOHSCROLL | ES_PASSWORD
    LTEXT           "IPバージョン:", IDC_STATIC, 7, 58, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_IP_VERSION, 71, 58, 55, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "証明書の検証:", IDC_STATIC, 7, 75, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_VERIFY, 71, 75, 90, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "確認間隔:", IDC_STATIC, 7, 92, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_FETCH, 71, 92, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_FETCH, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 97, 92, 13, 12
    LTEXT           "分", IDC_STATIC, 115, 92, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "着信音:", IDC_STATIC, 7, 109, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SOUND, 71, 109, 137, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_SOUND, 209, 109, 14, 12
    PUSHBUTTON      "再生(&P)", IDC_BUTTON_PLAY, 225, 108, 38, 14
    LTEXT           "メーラー:", IDC_STATIC, 7, 126, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_MUA, 71, 126, 176, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_MUA, 249, 126, 14, 12
    DEFPUSHBUTTON   "OK", IDOK, 158, 150, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "キャンセル", IDCANCEL, 213, 150, 50, 14
END

IDD_URI DIALOGEX 22, 7, 225, 130
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "サーバーの設定"
FONT 9, "Ms Shell Dlg"
BEGIN
    LTEXT           "プロトコル:", IDC_STATIC, 7, 7, 50, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SCHEME, 59, 7, 53, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "ユーザー名:", IDC_STATIC, 7, 25, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_USER, 59, 25, 83, 12, ES_AUTOHSCROLL
    LTEXT           "アドレス:", IDC_STATIC, 7, 42, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_ADDRESS, 59, 42, 159, 12, ES_AUTOHSCROLL
    LTEXT           "ポート番号:", IDC_STATIC, 7, 59, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PORT, 59, 59, 53, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_PORT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 99, 59, 13, 12
    LTEXT           "パス:", IDC_STATIC, 7, 76, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PATH, 59, 76, 159, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX    "新着のみ", IDC_CHECKBOX_RECENT, 59, 90, 53, 12, BS_AUTOCHECKBOX
    DEFPUSHBUTTON   "OK", IDOK, 113, 109, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "キャンセル", IDCANCEL, 168, 109, 50, 14
END

IDD_ICON DIALOGEX 65530, 60, 232, 87
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "アイコンの設定"
FONT 9, "Ms Shell Dlg"
BEGIN
    LISTBOX         IDC_LIST_ICON, 7, 7, 218, 53, WS_GROUP | WS_TABSTOP | WS_HSCROLL | LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | LBS_OWNERDRAWFIXED | LBS_NODATA | LBS_NOTIFY, WS_EX_CLIENTEDGE
    DEFPUSHBUTTON   "OK", IDOK, 123, 67, 50, 14, WS_GROUP
    PUSHBUTTON      "キャンセル", IDCANCEL, 175, 67, 50, 14
END

STRINGTABLE
BEGIN
    IDS_FILTER_SOUND		"サウンド (*.wav)/*.wav/"
    IDS_FILTER_PROGRAM		"プログラム (*.exe)/*.exe/"
    IDS_MSGBOX_DELETE		"メールボックスの削除の確認/'%s'を削除しますか?/"
    IDS_MSG_ITEM_REQUIRED	"この項目は必須です。"
    IDS_MSG_INVALID_CHAR	"ここではこの文字は使えません。"
    IDS_MSG_NAME_EXISTS		"指定の名前は既に存在します。別の名前を入力してください。"
    IDS_LIST_IP_VERSION		"指定なし/IPv4/IPv6/"
    IDS_LIST_VERIFY		"検証なし/サーバー名のみ/自己証明書可/完全検証/"
END

1 VERSIONINFO
FILEVERSION     DLL_VERSION_BINARY
PRODUCTVERSION  APP_VERSION_BINARY
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
FILEFLAGSMASK   0x0000003F
FILEFLAGS       0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104B0"
        BEGIN
            VALUE "FileDescription", APP_NAME " 拡張モジュール"
            VALUE "FileVersion", DLL_VERSION
            VALUE "InternalName", DLL_NAME
            VALUE "LegalCopyright", APP_COPYRIGHT
            VALUE "OriginalFilename", DLL_NAME ".dll"
            VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 1200
    END
END
