/*
 * Copyright (C) 2009 TSUBAKIMOTO Hiroya <zorac@4000do.co.jp>
 *
 * This software comes with ABSOLUTELY NO WARRANTY; for details of
 * the license terms, see the LICENSE.txt file included with the program.
 */
#include "define.h"
#include <winresrc.h>
#include <commctrl.h>

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

ISOLATIONAWARE_MANIFEST_RESOURCE_ID RT_MANIFEST    "extend.dll.manifest"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_MAILBOX DIALOG 0, 0, 270, 137
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Mailbox settings"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Name:", IDC_STATIC, 7, 7, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_NAME, 71, 7, 112, 12, ES_AUTOHSCROLL
    LTEXT           "Server:", IDC_STATIC, 7, 24, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SERVER, 71, 24, 176, 46, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_SERVER, 249, 24, 14, 12, BS_PUSHBUTTON
    LTEXT           "Password:", IDC_STATIC, 7, 41, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PASSWD, 71, 41, 112, 12, ES_AUTOHSCROLL | ES_PASSWORD
    LTEXT           "Fetching period:", IDC_STATIC, 7, 58, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_FETCH, 71, 58, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_FETCH, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 97, 58, 13, 12
    LTEXT           "minutes", IDC_STATIC, 115, 58, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Received sound:", IDC_STATIC, 7, 75, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SOUND, 71, 75, 137, 47, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_SOUND, 209, 75, 14, 12, BS_PUSHBUTTON
    PUSHBUTTON      "&Play", IDC_BUTTON_PLAY, 225, 74, 38, 14, BS_PUSHBUTTON
    LTEXT           "Mailer:", IDC_STATIC, 7, 93, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_MUA, 71, 93, 176, 46, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_MUA, 249, 93, 14, 12, BS_PUSHBUTTON
    DEFPUSHBUTTON   "OK", IDOK, 158, 116, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 213, 116, 50, 14, BS_PUSHBUTTON
END

IDD_SETTING DIALOG 0, 0, 225, 206
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Settings - befoo"
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX        "Mailbox", IDC_STATIC, 7, 1, 211, 76, WS_GROUP
    LISTBOX         IDC_LIST_MAILBOX, 16, 15, 136, 55, WS_GROUP | WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    PUSHBUTTON      "&New", IDC_BUTTON_NEW, 158, 15, 50, 14, WS_GROUP | BS_PUSHBUTTON
    PUSHBUTTON      "&Edit", IDC_BUTTON_EDIT, 158, 31, 50, 14, BS_PUSHBUTTON
    PUSHBUTTON      "&Delete", IDC_BUTTON_DELETE, 158, 47, 50, 14, BS_PUSHBUTTON
    GROUPBOX        "General", IDC_STATIC, 7, 83, 211, 94, WS_GROUP
    LTEXT           "Balloon display time:", IDC_STATIC, 16, 94, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_BALLOON, 113, 94, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_BALLOON, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 139, 94, 13, 12
    LTEXT           "seconds", IDC_STATIC, 158, 94, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Summary display time:", IDC_STATIC, 16, 111, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUMMARY, 113, 111, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUMMARY, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 139, 111, 13, 12
    LTEXT           "seconds", IDC_STATIC, 158, 111, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "Show summary when get mail", IDC_CHECKBOX_SUMMARY, 38, 125, 114, 11, BS_AUTOCHECKBOX
    LTEXT           "First fetch time on startup:", IDC_STATIC, 16, 141, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_STARTUP, 113, 141, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_STARTUP, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 139, 141, 13, 12
    LTEXT           "seconds", IDC_STATIC, 158, 141, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "Icon size:", IDC_CHECKBOX_ICON, 16, 158, 92, 12, WS_GROUP | BS_AUTOCHECKBOX
    EDITTEXT        IDC_EDIT_ICON, 113, 158, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_ICON, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 139, 158, 13, 12
    LTEXT           "pixels", IDC_STATIC, 157, 158, 34, 12, SS_LEFT | SS_CENTERIMAGE
    DEFPUSHBUTTON   "OK", IDOK, 113, 185, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 185, 50, 14, BS_PUSHBUTTON
END

IDD_URI DIALOG 0, 0, 225, 130
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Server settings"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Protocol:", IDC_STATIC, 7, 7, 50, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SCHEME, 59, 7, 53, 26, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "User name:", IDC_STATIC, 7, 25, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_USER, 59, 25, 83, 12, ES_AUTOHSCROLL
    LTEXT           "Address:", IDC_STATIC, 7, 42, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_ADDRESS, 59, 42, 159, 12, ES_AUTOHSCROLL
    LTEXT           "Port number:", IDC_STATIC, 7, 59, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PORT, 59, 59, 53, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_PORT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 99, 59, 13, 12
    LTEXT           "Path:", IDC_STATIC, 7, 76, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PATH, 59, 76, 159, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Recent only", IDC_CHECKBOX_RECENT, 59, 90, 53, 12, BS_AUTOCHECKBOX
    DEFPUSHBUTTON   "OK", IDOK, 113, 109, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 109, 50, 14, BS_PUSHBUTTON
END

STRINGTABLE
BEGIN
    IDS_FILTER_SOUND              "Sound (*.wav)/*.wav/"
    IDS_FILTER_PROGRAM            "Program (*.exe)/*.exe/"
    IDS_MSGBOX_DELETE             "Confirm Mailbox Delete/Are you sure you want to delete '%s'?/"
    IDS_MSG_ITEM_REQUIRED         "This item is required."
    IDS_MSG_INVALID_CHAR          "You cannot use this character here."
    IDS_MSG_NAME_EXISTS           "The specified name already exists. Please enter a different name."
END

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)
#include "ja.rc"
