/*
 * Copyright (C) 2009-2021 TSUBAKIMOTO Hiroya <z0rac@users.sourceforge.jp>
 *
 * This software comes with ABSOLUTELY NO WARRANTY; for details of
 * the license terms, see the LICENSE.txt file included with the program.
 */
#include "define.h"
#include "definedlg.h"
#include <winres.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

1 MENUEX DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
	MENUITEM "&Fetch", ID_MENU_FETCH
	MENUITEM "&Show Summary", ID_MENU_SUMMARY, MFT_STRING, MFS_DEFAULT
	MENUITEM "", 0, MFT_SEPARATOR
	MENUITEM "&Tray Icon", ID_MENU_TRAYICON
	MENUITEM "Always on Top", ID_MENU_ALWAYSONTOP
	MENUITEM "Settings...", ID_MENU_SETTINGS
	MENUITEM "", 0, MFT_SEPARATOR
	MENUITEM "&About befoo", ID_MENU_ABOUT
	MENUITEM "E&xit", ID_MENU_EXIT
    END
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_TEXT_FETCHING		"Now fetching"
    ID_TEXT_FETCHED_MAIL	"%d recent(s), %d unseen(s)"
    ID_TEXT_FETCH_ERROR		"A fetch error occurred."
    ID_TEXT_BALLOON_TITLE	"You've got mail."
    ID_TEXT_BALLOON_ERROR	"Mail fetch failed."
    ID_TEXT_SUMMARY_TITLE	"Summary - " APP_NAME
    ID_TEXT_SUMMARY_COLUMN	"Subject/Sender/Date/Mailbox/"
    ID_TEXT_ABOUT		APP_COPYRIGHT "\n\
License GPLv3+: GNU GPL version 3 or later \
<https://gnu.org/licenses/gpl.html>\n\
This is free software; you are free to change and redistribute it. \
There is NO WARRANTY, to the extent permitted by law."
    ID_TEXT_VERSION             APP_NAME " version " APP_VERSION
END

1 VERSIONINFO
FILEVERSION     APP_VERSION_BINARY
PRODUCTVERSION  APP_VERSION_BINARY
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
FILEFLAGSMASK   0x0000003F
FILEFLAGS       0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", APP_NAME " - IMAP4 mail checker"
            VALUE "FileVersion", APP_VERSION
            VALUE "InternalName", APP_NAME
            VALUE "LegalCopyright", APP_COPYRIGHT
            VALUE "OriginalFilename", APP_NAME ".exe"
            VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

IDD_SETTING DIALOGEX 0, 0, 225, 264
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "Settings - befoo"
FONT 9, "Ms Shell Dlg"
BEGIN
    GROUPBOX        "Mailbox", IDC_STATIC, 7, 1, 211, 69, WS_GROUP
    LISTBOX         IDC_LIST_MAILBOX, 16, 14, 136, 50, WS_GROUP | WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    PUSHBUTTON      "&New", IDC_BUTTON_NEW, 158, 15, 50, 14, WS_GROUP
    PUSHBUTTON      "&Edit", IDC_BUTTON_EDIT, 158, 32, 50, 14
    PUSHBUTTON      "&Delete", IDC_BUTTON_DELETE, 158, 49, 50, 14
    GROUPBOX        "Icon", IDC_STATIC, 7, 71, 211, 48, WS_GROUP
    PUSHBUTTON      "", IDC_BUTTON_ICON, 14, 79, 38, 38, BS_ICON
    AUTOCHECKBOX    "Size:", IDC_CHECKBOX_ICON, 61, 83, 69, 12, WS_GROUP
    EDITTEXT        IDC_EDIT_ICON, 135, 83, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_ICON, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 83, 12, 12
    LTEXT           "pixels", IDC_STATIC, 179, 83, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Transparency:", IDC_STATIC, 61, 99, 69, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_ICONTRANS, 135, 99, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_ICONTRANS, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 99, 12, 12
    LTEXT           "percents", IDC_STATIC, 180, 99, 34, 12, SS_LEFT | SS_CENTERIMAGE
    GROUPBOX        "General", IDC_STATIC, 7, 120, 211, 120, WS_GROUP
    LTEXT           "Balloon display time:", IDC_STATIC, 16, 131, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_BALLOON, 135, 131, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_BALLOON, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 131, 12, 12
    LTEXT           "seconds", IDC_STATIC, 180, 131, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Subjects in the balloon:", IDC_STATIC, 16, 147, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUBJECTS, 135, 147, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUBJECTS, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 147, 12, 12
    LTEXT           "lines", IDC_STATIC, 180, 147, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "Summary display time:", IDC_STATIC, 16, 163, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUMMARY, 135, 163, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUMMARY, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 163, 12, 12
    LTEXT           "seconds", IDC_STATIC, 180, 163, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "Show summary when get mail", IDC_CHECKBOX_SUMMARY, 38, 177, 114, 11
    LTEXT           "Summary transparency:", IDC_STATIC, 16, 192, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_SUMMARYTRANS, 135, 192, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_SUMMARYTRANS, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 192, 12, 12
    LTEXT           "percents", IDC_STATIC, 180, 192, 34, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "First fetch time on startup:", IDC_STATIC, 16, 208, 92, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_STARTUP, 135, 208, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_STARTUP, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 163, 208, 12, 12
    LTEXT           "seconds", IDC_STATIC, 180, 208, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "Add to startup folder", IDC_CHECKBOX_STARTUP, 38, 222, 114, 11
    DEFPUSHBUTTON   "OK", IDOK, 113, 245, 50, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 245, 50, 14
END

IDD_MAILBOX DIALOGEX -10, 12, 270, 170
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "Mailbox settings"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Name:", IDC_STATIC, 7, 7, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_NAME, 71, 7, 112, 12, ES_AUTOHSCROLL
    LTEXT           "Server:", IDC_STATIC, 7, 24, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SERVER, 71, 24, 176, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_SERVER, 249, 24, 14, 12
    LTEXT           "Password:", IDC_STATIC, 7, 41, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PASSWD, 71, 41, 112, 12, ES_AUTOHSCROLL | ES_PASSWORD
    LTEXT           "IP version:", IDC_STATIC, 7, 58, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_IP_VERSION, 71, 58, 55, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Verify certificate:", IDC_STATIC, 7, 75, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_VERIFY, 71, 75, 90, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Fetching period:", IDC_STATIC, 7, 92, 59, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_FETCH, 71, 92, 39, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_FETCH, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 97, 92, 13, 12
    LTEXT           "minutes", IDC_STATIC, 115, 92, 34, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "Immediately if possible", IDC_CHECKBOX_IMMEDIATE, 152, 93, 90, 11
    LTEXT           "Received sound:", IDC_STATIC, 7, 109, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SOUND, 71, 109, 137, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_SOUND, 209, 109, 14, 12
    PUSHBUTTON      "&Play", IDC_BUTTON_PLAY, 225, 108, 38, 14
    LTEXT           "Mailer:", IDC_STATIC, 7, 126, 59, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_MUA, 71, 126, 176, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS
    PUSHBUTTON      "...", IDC_BUTTON_MUA, 249, 126, 14, 12
    DEFPUSHBUTTON   "OK", IDOK, 158, 150, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 213, 150, 50, 14
END

IDD_URI DIALOGEX 20, 7, 225, 130
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "Server settings"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Protocol:", IDC_STATIC, 7, 7, 50, 12, SS_LEFT | SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_SCHEME, 59, 7, 53, 96, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "User name:", IDC_STATIC, 7, 25, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_USER, 59, 25, 83, 12, ES_AUTOHSCROLL
    LTEXT           "Address:", IDC_STATIC, 7, 42, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_ADDRESS, 59, 42, 159, 12, ES_AUTOHSCROLL
    LTEXT           "Port number:", IDC_STATIC, 7, 59, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PORT, 59, 59, 53, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_PORT, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 99, 59, 13, 12
    LTEXT           "Path:", IDC_STATIC, 7, 76, 50, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PATH, 59, 76, 159, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Recent only", IDC_CHECKBOX_RECENT, 59, 90, 53, 12, BS_AUTOCHECKBOX
    DEFPUSHBUTTON   "OK", IDOK, 113, 109, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 168, 109, 50, 14
END

IDD_ICON DIALOGEX 2, 58, 232, 87
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW
CAPTION "Icon settings"
FONT 8, "Ms Shell Dlg"
BEGIN
    LISTBOX         IDC_LIST_ICON, 7, 7, 218, 53, WS_GROUP | WS_TABSTOP | WS_HSCROLL | LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | LBS_OWNERDRAWFIXED | LBS_NODATA | LBS_NOTIFY, WS_EX_CLIENTEDGE
    DEFPUSHBUTTON   "OK", IDOK, 123, 67, 50, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 175, 67, 50, 14
END

STRINGTABLE
BEGIN
    IDS_FILTER_SOUND		"Sound (*.wav)/*.wav/"
    IDS_FILTER_PROGRAM		"Program (*.exe)/*.exe/"
    IDS_MSGBOX_DELETE		"Confirm Mailbox Delete/Are you sure you want to delete '%s'?/"
    IDS_MSG_ITEM_REQUIRED	"This item is required."
    IDS_MSG_INVALID_CHAR	"You cannot use this character here."
    IDS_MSG_NAME_EXISTS		"The specified name already exists. Please enter a different name."
    IDS_LIST_IP_VERSION		"Unspecified/IPv4/IPv6/"
    IDS_LIST_VERIFY		"Don't verify/Only server name/Allow self certification/Full verify/"
END
