/*
 * Copyright (C) 2010 TSUBAKIMOTO Hiroya <z0rac@users.sourceforge.jp>
 *
 * This software comes with ABSOLUTELY NO WARRANTY; for details of
 * the license terms, see the LICENSE.txt file included with the program.
 */
#include <winresrc.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

10 ICON DISCARDABLE "simple/fetch.ico"
11 ICON DISCARDABLE "simple/exist.ico"
12 ICON DISCARDABLE "simple/empty.ico"

2 MASCOTICON DISCARDABLE
BEGIN
    8,  // Bytes of header
    48, // Icon size
    1,  // Animation frames
    10,	// Initial icon
    10, 0, // Animation for fetching.
    11, 0, // Animation for having mail.
    12, 0  // Animation for no mail.
END
